version: "3.6"

services:

  database:
    volumes:
      - "database-volume:/var/lib/mysql:rw"
    environment:
      - MYSQL_DATABASE=symfony
      - MYSQL_USER=symfony
      - MYSQL_PASSWORD=symfony
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    ports:
      - "3306:3306"

  # http://localhost:8008/?server=database
  adminer:
    image: adminer:latest
    container_name: starter_adminer
    working_dir: /srv
    restart: on-failure
    ports:
      - "8008:8080"
    links:
      - database

  # http://localhost:1080
  mailcatcher:
    image: djfarrelly/maildev
    ports:
      - 1080:80

volumes:
  database-volume: {}